importFrom(mclust,Mclust,mclustBIC)
importFrom(RColorBrewer,brewer.pal)
importFrom(boot,boot)


####exportPattern("^[^\\.]")
export(
  plot.Bootstrap,
  plot.Corr,
  plot.CorrData,
  examples,
  merge.IdMap,
  as.list.IdMap,
  as.data.frame.IdMapBase,
  dim.IdMapBase,
  dimnames.IdMapBase,
  getName.IdMapBase,
  "[.IdMapBase",
  plot.IdMapCounts,
  summary.IdMapDiffCounts,
  plot.IdMapDiffCounts,
  as.data.frame.JointIdMap,
  boxplot.JointUniquePairs,
  plot.Mixture,
  unique.UniquePairs,
  Bootstrap,
  Corr,
  CorrData,
  DataFilter,
  Display,
  IdMap,
  IdMapBase,
  IdMapCounts,
  IdMapDiff,
  IdMapDiffCounts,
  JointIdMap,
  JointUniquePairs,
  Misc,
  Mixture,
  Subset,
  UniquePairs,
  aligned,
  as.IdMap,
  as.MultiSet,
  as.UniquePairs,
  byColNames,
  byColumn,
  byRow,
  byRowNames,
  clust,
  copy,
  corr.boxplot,
  corr.plot,
  create,
  CsvList.merge,
  diffCounts.plot,
  do.apply,
  do.glm,
  ecdf.plot,
  fisherTransform,
  fisherTransformInverse,
  fisherTransformJacobean,
  getBootstrap,
  getCompoundEvents,
  getCompoundGroups,
  getCorr,
  getCorrData,
  getCorrDataFrame,
  getCounts,
  getData,
  getDiff,
  getExperimentSet,
  getIdMapList,
  getMapNames,
  getMatch,
  getMatchInfo,
  getMixture,
  getSampleNames,
  getStats,
  getUnionIdMap,
  getUniquePairs,
  interactive.corr.boxplot,
  interactive.corr.plot,
  interactive.mixture.boxplot,
  interactive.mixture.plot,
  interactive.plot,
  interleave,
  line.loess,
  line.unsorted,
  minAvgCountConstraint,
  minCountConstraint,
  minCountGroupConstraint,
  mixture.boxplot,
  mixture.plot,
  pack.experiments,
  primaryIDs,
  primaryKey,
  progressMsg,
  removeNASeries,
  secondaryKey,
  subsetCorr,
  subsetData,
  subsetGroups,
  swapKeys,
  textBoundingBox,
  to.base,
  to.binary.logical,
  to.index.expr,
  words,
  zoom.pars,
  aligned.IdMapBase,
  as.IdMap.UniquePairs,
  as.MultiSet.CorrData,
  as.UniquePairs.IdMap,
  byColNames.Subset,
  byColumn.Subset,
  byRow.Subset,
  byRowNames.Subset,
  clust.Mixture,
  copy.Display,
  corr.boxplot.JointUniquePairs,
  corr.plot.JointUniquePairs,
  create.Display,
  create.UniquePairs,
  CsvList.merge.Misc,
  diffCounts.plot.JointIdMap,
  do.apply.DataFilter,
  do.glm.JointUniquePairs,
  ecdf.plot.JointIdMap,
expectedUtility,
  fisherTransform.DataFilter,
  fisherTransformInverse.DataFilter,
  fisherTransformJacobean.DataFilter,
fit2clusters,
  getBootstrap.JointUniquePairs,
  getCompoundEvents.IdMapDiffCounts,
  getCompoundGroups.IdMapDiffCounts,
  getCorr.JointUniquePairs,
  getCorrData.JointUniquePairs,
  getCorrDataFrame.JointUniquePairs,
  getCounts.IdMap,
  getCounts.JointIdMap,
  getData.Corr,
  getData.Mixture,
  getDiff.JointIdMap,
  getExperimentSet.CorrData,
  getIdMapList.JointIdMap,
  getMapNames.JointIdMap,
  getMapNames.JointUniquePairs,
  getMatch.UniquePairs,
  getMatchInfo.JointIdMap,
  getMatchInfo.JointUniquePairs,
  getMixture.JointUniquePairs,
  getSampleNames.CorrData,
  getStats.IdMapCounts,
  getStats.Mixture,
  getUnionIdMap.JointIdMap,
  getUniquePairs.Corr,
  getUniquePairs.CorrData,
  getUniquePairs.JointUniquePairs,
  interactive.corr.boxplot.JointUniquePairs,
  interactive.corr.plot.JointUniquePairs,
  interactive.mixture.boxplot.JointUniquePairs,
  interactive.mixture.plot.JointUniquePairs,
  interactive.plot.CorrData,
  interactive.plot.JointUniquePairs,
  interleave.Misc,
  line.loess.Display,
  line.unsorted.Display,
  minAvgCountConstraint.DataFilter,
  minCountConstraint.DataFilter,
  minCountGroupConstraint.DataFilter,
  mixture.boxplot.JointUniquePairs,
  mixture.plot.JointUniquePairs,
  pack.experiments.CorrData,
  primaryIDs.IdMapBase,
  primaryKey.CorrData,
  primaryKey.IdMapBase,
  primaryKey.Mixture,
  progressMsg.Display,
  removeNASeries.DataFilter,
  secondaryKey.CorrData,
  secondaryKey.IdMapBase,
  secondaryKey.Mixture,
  subsetCorr.JointUniquePairs,
  subsetData.JointUniquePairs,
  subsetGroups.JointUniquePairs,
  swapKeys.IdMap,
  swapKeys.UniquePairs,
  textBoundingBox.Display,
  to.base.Misc,
  to.binary.logical.Misc,
  to.index.expr.Misc,
  words.Misc,
  zoom.pars.Display)
