importFrom(mclust,Mclust,mclustBIC)
importFrom(RColorBrewer,brewer.pal)
importFrom(boot,boot)


####exportPattern("^[^\\.]")
export(
  plot.Bootstrap,
  plot.Corr,
  plot.CorrData,
  examples,
  merge.IdMap,
  as.list.IdMap,
  as.data.frame.IdMapBase,
  dim.IdMapBase,
  dimnames.IdMapBase,
  getName.IdMapBase,
  "[.IdMapBase",
  plot.IdMapCounts,
  summary.IdMapDiffCounts,
  plot.IdMapDiffCounts,
  as.data.frame.JointIdMap,
  boxplot.JointUniquePairs,
  plot.Mixture,
  unique.UniquePairs,
  Bootstrap,
  Corr,
  CorrData,
  DataFilter,
  Display,
  IdMap,
  IdMapBase,
  IdMapCounts,
  IdMapDiff,
  IdMapDiffCounts,
  JointIdMap,
  JointUniquePairs,
  Misc,
  Mixture,
  Subset,
  UniquePairs,
  aligned,
  as.IdMap,
  as.MultiSet,
  as.UniquePairs,
  byColNames,
  byColumn,
  byRow,
  byRowNames,
  clust,
  copy,
  corr.boxplot,
  corr.plot,
  create,
  CsvList.merge,
  diffCounts.plot,
  do.apply,
  do.glm,
  ecdf.plot,
  fisherTransform,
  fisherTransformInverse,
  fisherTransformJacobean,
  getBootstrap,
  getCompoundEvents,
  getCompoundGroups,
  getCorr,
  getCorrData,
  getCorrDataFrame,
  getCounts,
  getData,
  getDiff,
  getExperimentSet,
  getIdMapList,
  getMapNames,
  getMatch,
  getMatchInfo,
  getMixture,
  getSampleNames,
  getStats,
  getUnionIdMap,
  getUniquePairs,
  interactive.corr.boxplot,
  interactive.corr.plot,
  interactive.mixture.boxplot,
  interactive.mixture.plot,
  interactive.plot,
  interleave,
  line.loess,
  line.unsorted,
  minAvgCountConstraint,
  minCountConstraint,
  minCountGroupConstraint,
  mixture.boxplot,
  mixture.plot,
  pack.experiments,
  primaryIDs,
  primaryKey,
  progressMsg,
  removeNASeries,
  secondaryKey,
  subsetCorr,
  subsetData,
  subsetGroups,
  swapKeys,
  textBoundingBox,
  to.base,
  to.binary.logical,
  to.index.expr,
  words,
  zoom.pars,
  aligned.IdMapBase,
  as.IdMap.UniquePairs,
  as.MultiSet.CorrData,
  as.UniquePairs.IdMap,
  byColNames.Subset,
  byColumn.Subset,
  byRow.Subset,
  byRowNames.Subset,
  clust.Mixture,
  copy.Display,
  corr.boxplot.JointUniquePairs,
  corr.plot.JointUniquePairs,
  create.Display,
  create.UniquePairs,
  CsvList.merge.Misc,
  diffCounts.plot.JointIdMap,
  do.apply.DataFilter,
  do.glm.JointUniquePairs,
  ecdf.plot.JointIdMap,
expectedUtility,
  fisherTransform.DataFilter,
  fisherTransformInverse.DataFilter,
  fisherTransformJacobean.DataFilter,
fit2clusters,
  getBootstrap.JointUniquePairs,
  getCompoundEvents.IdMapDiffCounts,
  getCompoundGroups.IdMapDiffCounts,
  getCorr.JointUniquePairs,
  getCorrData.JointUniquePairs,
  getCorrDataFrame.JointUniquePairs,
  getCounts.IdMap,
  getCounts.JointIdMap,
  getData.Corr,
  getData.Mixture,
  getDiff.JointIdMap,
  getExperimentSet.CorrData,
  getIdMapList.JointIdMap,
  getMapNames.JointIdMap,
  getMapNames.JointUniquePairs,
  getMatch.UniquePairs,
  getMatchInfo.JointIdMap,
  getMatchInfo.JointUniquePairs,
  getMixture.JointUniquePairs,
  getSampleNames.CorrData,
  getStats.IdMapCounts,
  getStats.Mixture,
  getUnionIdMap.JointIdMap,
  getUniquePairs.Corr,
  getUniquePairs.CorrData,
  getUniquePairs.JointUniquePairs,
  interactive.corr.boxplot.JointUniquePairs,
  interactive.corr.plot.JointUniquePairs,
  interactive.mixture.boxplot.JointUniquePairs,
  interactive.mixture.plot.JointUniquePairs,
  interactive.plot.CorrData,
  interactive.plot.JointUniquePairs,
  interleave.Misc,
  line.loess.Display,
  line.unsorted.Display,
  logTen,
  logTen.DataFilter,
  minAvgCountConstraint.DataFilter,
  minCountConstraint.DataFilter,
  minCountGroupConstraint.DataFilter,
  mixture.boxplot.JointUniquePairs,
  mixture.plot.JointUniquePairs,
  pack.experiments.CorrData,
  primaryIDs.IdMapBase,
  primaryKey.CorrData,
  primaryKey.IdMapBase,
  primaryKey.Mixture,
  progressMsg.Display,
  removeNASeries.DataFilter,
  secondaryKey.CorrData,
  secondaryKey.IdMapBase,
  secondaryKey.Mixture,
  subsetCorr.JointUniquePairs,
  subsetData.JointUniquePairs,
  subsetGroups.JointUniquePairs,
  swapKeys.IdMap,
  swapKeys.UniquePairs,
  textBoundingBox.Display,
  to.base.Misc,
  to.binary.logical.Misc,
  to.index.expr.Misc,
  words.Misc,
  zoom.pars.Display)

S3method("CsvList.merge","Misc")
S3method("[","IdMapBase")
S3method("aligned","IdMapBase")
S3method("as.IdMap","UniquePairs")
S3method("as.MultiSet","CorrData")
S3method("as.UniquePairs","IdMap")
S3method("as.data.frame","IdMapBase")
S3method("as.data.frame","JointIdMap")
S3method("as.list","IdMap")
##S3method("boxplot","JointUniquePairs")
S3method("boxplotdataJitter","JointUniquePairs")
S3method("byColNames","Subset")
S3method("byColumn","Subset")
S3method("byRow","Subset")
S3method("byRowNames","Subset")
S3method("clust","Mixture")
S3method("copy","Display")
S3method("corr.boxplot","JointUniquePairs")
S3method("corr.plot","JointUniquePairs")
S3method("create","Display")
S3method("create","UniquePairs")
S3method("diffCounts.plot","JointIdMap")
S3method("dim","IdMapBase")
S3method("dimnames","IdMapBase")
S3method("do.apply","DataFilter")
S3method("do.glm","JointUniquePairs")
S3method("ecdf.plot","JointIdMap")
##S3method("equals","UniquePairs")
S3method("fisherTransform","DataFilter")
S3method("fisherTransformInverse","DataFilter")
S3method("fisherTransformJacobean","DataFilter")
S3method("getBootstrap","JointUniquePairs")
S3method("getCompoundEvents","IdMapDiffCounts")
S3method("getCompoundGroups","IdMapDiffCounts")
S3method("getCorr","JointUniquePairs")
S3method("getCorrData","JointUniquePairs")
S3method("getCorrDataFrame","JointUniquePairs")
S3method("getCounts","IdMap")
S3method("getCounts","JointIdMap")
S3method("getData","Corr")
S3method("getData","Mixture")
S3method("getDiff","JointIdMap")
S3method("getExperimentSet","CorrData")
S3method("getIdMapList","JointIdMap")
S3method("getMapNames","JointIdMap")
S3method("getMapNames","JointUniquePairs")
S3method("getMatch","UniquePairs")
S3method("getMatchInfo","JointIdMap")
S3method("getMatchInfo","JointUniquePairs")
S3method("getMixture","JointUniquePairs")
## S3method("getName","IdMapBase")
S3method("getSampleNames","CorrData")
S3method("getStats","IdMapCounts")
S3method("getStats","Mixture")
S3method("getUnionIdMap","JointIdMap")
S3method("getUniquePairs","Corr")
S3method("getUniquePairs","CorrData")
S3method("getUniquePairs","JointUniquePairs")
S3method("interactive.corr.boxplot","JointUniquePairs")
S3method("interactive.corr.plot","JointUniquePairs")
S3method("interactive.mixture.boxplot","JointUniquePairs")
S3method("interactive.mixture.plot","JointUniquePairs")
S3method("interactive.plot","CorrData")
S3method("interactive.plot","JointUniquePairs")
S3method("interleave","Misc")
S3method("line.loess","Display")
S3method("line.unsorted","Display")
S3method("logTen","DataFilter")
S3method("merge","IdMap")
S3method("minAvgCountConstraint","DataFilter")
S3method("minCountConstraint","DataFilter")
S3method("minCountGroupConstraint","DataFilter")
S3method("mixture.boxplot","JointUniquePairs")
S3method("mixture.plot","JointUniquePairs")
S3method("pack.experiments","CorrData")
S3method("plot","Bootstrap")
S3method("plot","Corr")
S3method("plot","CorrData")
S3method("plot","IdMapCounts")
S3method("plot","IdMapDiffCounts")
S3method("plot","Mixture")
S3method("primaryIDs","IdMapBase")
S3method("primaryKey", export=TRUE, "IdMapBase")
S3method("primaryKey","CorrData")
S3method("primaryKey","Mixture")
S3method("progressMsg","Display")
S3method("removeNASeries","DataFilter")
S3method("secondaryKey","CorrData")
S3method("secondaryKey","IdMapBase")
S3method("secondaryKey","Mixture")
S3method("subsetCorr","JointUniquePairs")
S3method("subsetData","JointUniquePairs")
S3method("subsetGroups","JointUniquePairs")
S3method("summary","IdMapDiffCounts")
S3method("swapKeys","IdMap")
S3method("swapKeys","UniquePairs")
S3method("textBoundingBox","Display")
S3method("to.base","Misc")
S3method("to.binary.logical","Misc")
S3method("to.index.expr","Misc")
S3method("unique","UniquePairs")
S3method("words","Misc")
S3method("zoom.pars","Display")
